@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rowdies:wght@300;400;700&display=swap");
* {
  color: #1c2120;
}
.special-font {
  font-family: "Rowdies", sans-serif !important;
}
.container {
  width: 100%;
  max-width: 1300px;
  padding: 0 25px;
  margin: 0 auto;
}
.small-light-shadow {
  box-shadow: 0 5px 10px #0002;
}
.button-shadow {
  -webkit-filter: drop-shadow(0 13px 20px #07397235);
  filter: drop-shadow(0 13px 20px #07397235);
}
.icon-shadow {
  -webkit-filter: drop-shadow(5px 15px 15px #07397255);
  filter: drop-shadow(5px 15px 15px #07397255);
}
.card-shadow {
  -webkit-box-shadow: 0px 54px 115px 0px rgba(52, 60, 66, 0.25);
  box-shadow: 0px 54px 115px 0px rgba(52, 60, 66, 0.25);
}
.full-side-shadow {
  box-shadow: -4.104px 11.276px 38px 0px rgba(45, 42, 61, 0.1);
}

.full-side-shadow-dark {
  -webkit-box-shadow: 0px 54px 115px 0px rgba(52, 60, 66, 0.25);
  box-shadow: 0px 20px 50px 0px rgba(52, 60, 66, 0.25);
}

.inner-shadow {
  box-shadow: inset 0 0 15px 0 rgba(52, 60, 66, 0.25);
}
   


::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #e9e3ff;
}

::-webkit-scrollbar-thumb {
  background-color: #cbbefa;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6640f3;
}
